body {
	background: #141518;
}

.window {
	position: relative;
	margin: auto;
	height: 100vh;
	width: 100vw;
    background: url(../html/img/img_0.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}